body {
    font-family: '微軟正黑體', '新細明體';
    /* background-color: #f9f9f9; */
    background-color:linear-gradient(#FFF,#f9f9f9);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #fdf6e9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

header {
    /* background: linear-gradient(to bottom, #e0f7d4, #c8e6a6); */
    background:linear-gradient(#FFF,#e4f1c2);
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
}
img{
    display: inline-block;
    vertical-align: middle;
    margin-right:8px;
    height: 40px;
    width: auto;
}
.title{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold
}

hr{
    border: none;
    border-top: 1px dashed #000; /* 虛線的顏色和寬度 */
    margin: 30px 0; /* 上下邊距 */
}
.gov-department {
    color: #009;
    font-size: 0.9em;
    margin: 0;
}
.table_container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
   
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    margin: 0;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    gap: 10px;
}

.form-buttons button {
    padding: 8px 16px;
    cursor: pointer;
    flex: 1;
}

.notes {
    margin-top: 20px;
}

.notes p {
    font-weight: bold;
}

.notes ol {
    padding-left: 20px;
}

.notes li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}

table {
    width: 50%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
}

@media (min-width: 600px) {
    .form-group {
        flex-direction: row;
        align-items: center;
    }

    .form-group label {
        width: 100px;
        flex-shrink: 0;
    }

    .form-buttons {
        justify-content: flex-end;
    }

    .form-buttons button {
        flex: 0 1 auto;
    }
}
